@model Category
@{
    ViewBag.PageTitle = "Category Management";
    ViewBag.CardTitle = "Create Category";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<form asp-controller = "Category" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name" class=""></label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class=""></label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>

    <div class="mb-3">
        <input type="submit" name="name" value="Add" class="btn btn-primary" />
        <input type="reset" name="name" value="Reset" class="btn btn-danger" />
        <a class="btn btn-warning text-white" asp-action="Index" asp-controller="Category">Back</a>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}