@model Category
@{
    ViewBag.PageTitle = "Category Management";
    ViewBag.CardTitle = "Edit Category";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<form asp-controller="Category" asp-action="Edit" method="post">
    <input type="hidden" name="id" asp-for="@Model.Id" />
    <div class="mb-3">
        <label asp-for="Name" class=""></label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class=""></label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>

    <div class="mb-3">
        <input type="submit" name="name" value="Save" class="btn btn-success" />
        <input type="reset" name="name" value="Reset" class="btn btn-danger" />
        <a class="btn btn-warning text-white" asp-action="Index" asp-controller="Category">Back</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}